.card {
    border: none;
    background-color: #fff;
    border-radius: 0;
}

.card .card-body {
    text-align: center;
    padding: 10px 30px;
}

.card .card-body .card-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}

.card .card-body .btn {
    width: 100%;
}