.banner {
    height: 100vh;
    padding: 0 20px;
}

.banner .row {
    align-items: center;
    height: 100vh;
}

.banner h2 {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Roboto';
    margin-bottom: 10px;
}

.banner p {
    font-size: 16px;
    font-weight: 600;
    color: #777;
    margin-bottom: 50px;
}

.banner .btnGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}